File for work related to the organisation matched between LittleSis and bipartite-all010420

In [16]:
import networkx as nx
import numpy as np
import os
import pandas as pd

#### Read data

In [6]:
data = pd.read_csv(os.getcwd() + '/Data/matched_littlesis_bipartite171120.csv')
data.rename(columns = {'Unnamed: 0': 'ls_id', 'gs_match_id': 'bp_id'}, inplace = True)
# data['bp_id'].apply(lambda x: None if np.isnan(x) else int(x))
data.shape

(78526, 5)

In [7]:
data.head()

   ls_id                    name      bp_id match_name  match_value
0      1                 WALMART        NaN        NaN     0.000000
1      2              EXXONMOBIL        NaN        NaN     0.000000
2      3                 CHEVRON        NaN        NaN     0.000000
3      4  GENERAL MOTORS COMPANY  7091108.0  COMPANY C     0.384754
4      5          CONOCOPHILLIPS        NaN        NaN     0.000000

* ls_id: LittleSis entity ID
* name: LittleSis entity name
* bp_id: bipartite-all ID of matched org
* match_name: bipartite-all name of matched org
* match_value: score of the match in range \[0, 1]

In [9]:
ents = pd.read_pickle(os.getcwd() + '/Pickle/all_entities.pkl')
ents.shape

(284500, 13)

In [10]:
ents.head()

,summary,parent_id,extensions,website,name,primary_ext,aliases,blurb,types,updated_at,id,start_date,end_date
1,None,NaN,"{'Org': {'name_nick': 'WAL-MART', 'name': 'Wal...",www.corporate.walmart.com,Walmart,Org,"[IRS EIN 71-0415188, Wal Mart, Wal-Mart, Wal-M...",Retail merchandising,"[Organization, Business, Public Company]",2020-06-30T20:47:43Z,1,None,None
2,None,NaN,"{'Org': {'name_nick': 'EXXONMOBIL', 'name': 'E...",http://www.exxonmobil.com,ExxonMobil,Org,"[Exxon Corporation, Exxon Mobil, Exxon Mobil C...","Oil and gas exploration, production, and marke...","[Organization, Business, Public Company]",2020-07-14T02:29:21Z,2,1882-00-00,None
3,None,NaN,"{'Org': {'name_nick': 'CHEVRON', 'name': 'Chev...",www.chevron.com,Chevron,Org,"[Chevron, Chevron Corporation, ChevronTexaco, ...",Energy Company,"[Organization, Business, Public Company]",2020-07-14T02:27:36Z,3,None,None
4,None,NaN,"{'Org': {'name_nick': 'GEN-MOTOR', 'name': 'Ge...",www.gm.com,General Motors Company,Org,"[General Motors, General Motors Company, Gener...",automobile manufacturer,"[Organization, Business, Public Company]",2020-06-16T01:28:05Z,4,1908-00-00,2011-03-31
5,None,NaN,"{'Org': {'name_nick': 'CONOCOPHIL', 'name': 'C...",http://www.conocophillips.com/,ConocoPhillips,Org,"[Conoco Inc., ConocoPhillips, ConocoPhillips H...",Texas-based oil and gas corporation,"[Organization, Business, Public Company]",2020-06-11T14:26:07Z,5,None,None

In [12]:
bipartite_all = nx.read_gpickle(os.getcwd() + '/Pickle/bipartite-all010420.pickle')
bipartite_all.number_of_nodes()

4054832

In [19]:
bipartite_all.nodes[7091108]

{'degree': 7,
 'assets_total': 33697.0,
 'revenue_investments': '0.0',
 'rev_govt_grants': 0.0,
 'naics_code': '711120',
 'year_founded': nan,
 'address_line_1': 'P.O. Box 23262',
 'num_employees': 1.0,
 'city': 'Pleasant Hill',
 'expenses_total': 207670.0,
 'total_revenue': 210114.0,
 'sic_code': '7922',
 'deductibility_code': '1',
 'zip': '94523',
 'ntee_code': 'A63',
 'bipartite': 0,
 'state': 'CA',
 'Uppername': 'COMPANY C',
 'num_volunteers': nan,
 'ein': '22-3865899',
 'revenue_contributions': 174533.0,
 'employees_over_100k': 0.0}