In [1]:
# import matplotlib.pyplot as plt
import networkx as nx
import os
import pandas as pd
import pickle

In [2]:
data_path = os.getcwd() + '/Pickle/'

In [3]:
rels = pd.read_pickle(data_path + 'all_rels.pkl')  # read relationships
rels.head()

,category_id,description2,id,description,entity1_id,is_current,updated_at,entity2_id,currency,start_date,amount,goods,description1,end_date,filings
1,1,Director,1,Allen I Questrom had a position (Director) at...,1006,False,2011-03-13T20:15:59Z,1,None,2007-00-00,NaN,None,Director,2010-06-00,NaN
2,1,Director,2,Linda S Wolf has a position (Director) at Wa...,1007,True,2008-11-05T17:05:10Z,1,None,2005-00-00,NaN,None,Director,None,NaN
3,1,Director,3,Aida M Alvarez had a position (Director) at ...,1008,False,2018-04-23T14:25:16Z,1,None,None,NaN,None,Director,2015-00-00,NaN
4,1,Chairman,4,Gregory Boyd Penner has/had a position (Vice ...,1009,None,2018-04-23T14:54:35Z,1,None,None,NaN,None,Vice Chairman,None,NaN
6,1,Director,6,Christopher J Williams had a position (Direct...,1011,False,2015-03-31T14:56:50Z,1,None,2004-00-00,NaN,None,Director,None,NaN

In [4]:
rels.shape

(1230815, 15)

category_id possible values:
1. Position
2. Education
3. Membership
4. Family
5. Donation
6. Transaction
7. Lobbying
8. Social
9. Professional
10. Ownership
11. Hierarchy
12. Generic

In [5]:
ents = pd.read_pickle(data_path + 'all_entities.pkl')  # read entities
ents.head()  # index corresponds to entity ID

,summary,parent_id,extensions,website,name,primary_ext,aliases,blurb,types,updated_at,id,start_date,end_date
1,None,NaN,"{'Org': {'name_nick': 'WAL-MART', 'name': 'Wal...",www.corporate.walmart.com,Walmart,Org,"[IRS EIN 71-0415188, Wal Mart, Wal-Mart, Wal-M...",Retail merchandising,"[Organization, Business, Public Company]",2020-06-30T20:47:43Z,1,None,None
2,None,NaN,"{'Org': {'name_nick': 'EXXONMOBIL', 'name': 'E...",http://www.exxonmobil.com,ExxonMobil,Org,"[Exxon Corporation, Exxon Mobil, Exxon Mobil C...","Oil and gas exploration, production, and marke...","[Organization, Business, Public Company]",2020-07-14T02:29:21Z,2,1882-00-00,None
3,None,NaN,"{'Org': {'name_nick': 'CHEVRON', 'name': 'Chev...",www.chevron.com,Chevron,Org,"[Chevron, Chevron Corporation, ChevronTexaco, ...",Energy Company,"[Organization, Business, Public Company]",2020-07-14T02:27:36Z,3,None,None
4,None,NaN,"{'Org': {'name_nick': 'GEN-MOTOR', 'name': 'Ge...",www.gm.com,General Motors Company,Org,"[General Motors, General Motors Company, Gener...",automobile manufacturer,"[Organization, Business, Public Company]",2020-06-16T01:28:05Z,4,1908-00-00,2011-03-31
5,None,NaN,"{'Org': {'name_nick': 'CONOCOPHIL', 'name': 'C...",http://www.conocophillips.com/,ConocoPhillips,Org,"[Conoco Inc., ConocoPhillips, ConocoPhillips H...",Texas-based oil and gas corporation,"[Organization, Business, Public Company]",2020-06-11T14:26:07Z,5,None,None

In [6]:
ents.shape

(284500, 13)

In [6]:
# types = ents.explode('types')['types'].unique()

All values for entity types:

'Academic',
'Academic Research Institute',
'Business',
'Business Person',
'Consulting Firm',
'Couple',
'Cultural/Arts',
'Elected Representative',
'Elite Consensus Group',
'Government Advisory Body',
'Government Body',
'Government-Sponsored Enterprise',
'Individual Campaign Committee',
'Industry/Trade Association',
'Labor Union',
'Law Firm',
'Lawyer',
'Lobbying Firm',
'Lobbyist',
'Media Organization',
'Media Personality',
'Membership Organization',
'Organization',
'Other Campaign Committee',
'Other Not-for-Profit',
'PAC',
'Person',
'Philanthropy',
'Policy/Think Tank',
'Political Candidate',
'Political Fundraising Committee',
'Political Party',
'Private Company',
'Professional Association',
'Public Company',
'Public Intellectual',
'Public Official',
'Public Relations Firm',
'School',
'Social Club'

In [7]:
def eda():
    print('Primary type breakdown for entities:')
    print(ents['primary_ext'].value_counts())
    print('-' * 15)
    
    print('Specific type breakdown for entities:')
    eda_df = ents.explode('types')
    print(eda_df['types'].value_counts())
    print('-' * 15)
    
    cats = pd.Series(['Position', 'Education', 'Membership', 'Family', 'Donation', 'Transaction', 'Lobbying', 'Social', 'Professional', 'Ownership', 'Hierarchy', 'Generic'], index = range(1, 13))
    eda_df = pd.concat([rels['category_id'].value_counts(), cats], axis = 1)
    eda_df = eda_df.rename(columns = {'category_id': 'count', 0: 'category'})
    eda_df = eda_df.sort_values(by = 'count', ascending = False)
    print('Relationship category breakdown:')
    print(eda_df)
# #     plt.barh(eda_df['category'], (eda_df['count'] / rels.shape[0]) * 100, color = '#9433ff')
#     plt.barh(eda_df['category'], eda_df['count'] / 1000, color = '#9433ff')
#     plt.title('Breakdown of Relationships')
#     plt.xlabel('Number of Relationships (x1000s)')
#     plt.show()
#     plt.close()
    print('-' * 15)

In [8]:
eda()

Primary type breakdown for entities:
Person    205548
Org        78526
Couple       426
Name: primary_ext, dtype: int64
---------------
Specific type breakdown for entities:
Person                             205548
Organization                        78526
Business Person                     62995
Business                            25436
Political Fundraising Committee     14070
Lobbyist                            11941
Academic                             8892
Political Candidate                  8376
Lawyer                               7973
Public Official                      7211
Private Company                      5862
Elected Representative               4468
Government Body                      3598
Other Not-for-Profit                 3335
School                               3243
Media Personality                    3021
Public Company                       2742
Individual Campaign Committee        2082
Philanthropy                         1805
Other Campaign Committee             1740
Lobbying Firm                        1500
Membership Organization              1216
Law Firm                              837
Industry/Trade Association            695
Couple                                426
Policy/Think Tank                     422
PAC                                   382
Consulting Firm                       318
Public Intellectual                   272
Political Party                       259
Media Organization                    251
Cultural/Arts                         239
Labor Union                           181
Government-Sponsored Enterprise       175
Professional Association              149
Social Club                           119
Public Relations Firm                 108
Government Advisory Body               74
Academic Research Institute            62
Elite Consensus Group                  39
Name: types, dtype: int64
---------------
Relationship category breakdown:
     count      category
5   835757      Donation
1   245885      Position
2    28760     Education
3    27696    Membership
4    22266        Family
6    21324   Transaction
12   15556       Generic
11   11828     Hierarchy
10   11775     Ownership
7     6162      Lobbying
9     2244  Professional
8     1562        Social
---------------

In [9]:
def filterByType(df):  # returns indices of rows that satisfy the filter by 'type' criterion
    reqd_types = ['Philanthropy', 'Other Not-for-Profit', 'Academic Research Institute', 'School', 'Cultural/Arts', 'Policy/Think Tank']  # 'Academic' has been removed
    
    df_exploded = df.explode('types')
    
    return df_exploded[df_exploded['types'].isin(reqd_types)].index

In [10]:
index_to_keep = filterByType(ents)
filtered_ents = ents.loc[index_to_keep]
filtered_ents  # base set of entities

,summary,parent_id,extensions,website,name,primary_ext,aliases,blurb,types,updated_at,id,start_date,end_date
14713,None,14730.0,"{'Org': {'name_nick': None, 'name': 'Harvard L...",http://www.law.harvard.edu,Harvard Law School,Org,"[Harvard Law School, Harvard University Law Sc...",None,"[Organization, School]",2020-07-12T23:23:57Z,14713,None,None
14730,None,NaN,"{'Org': {'name_nick': None, 'name': 'Harvard U...",http://www.harvard.edu,Harvard University,Org,"[Harvard College, Harvard Corporation, Harvard...","Elite private university located in Cambridge, MA","[Organization, School]",2020-07-12T23:50:00Z,14730,1636-00-00,None
14922,None,NaN,"{'Org': {'name_nick': None, 'name': 'Universit...",None,University of Nebraska Lincoln,Org,"[University of Nebraska - Lincoln, University ...",None,"[Organization, School]",2019-12-13T19:33:21Z,14922,None,None
14924,Columbia University was founded in 1754 as Kin...,NaN,"{'Org': {'name_nick': None, 'name': 'Columbia ...",http://www.columbia.edu/index.html,Columbia University,Org,"[Columbia University, Columbia University in t...",Oldest institution of higher learning in the s...,"[Organization, School]",2020-07-10T18:37:07Z,14924,1754-00-00,None
14925,None,NaN,"{'Org': {'name_nick': None, 'name': 'Universit...",http://www.uillinois.edu/,University of Illinois,Org,"[University of Illinois, University of Illinoi...",One of the original 37 public land-grant insti...,"[Organization, School]",2020-05-04T14:54:31Z,14925,1867-00-00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380599,None,NaN,"{'Org': {'name_nick': None, 'name': 'Passaic C...",None,Passaic Community College,Org,[Passaic Community College],a New Jersey community college,"[Organization, School]",2020-07-14T11:59:35Z,380599,None,None
380600,None,NaN,"{'Org': {'name_nick': None, 'name': 'Friends S...",None,Friends Select School,Org,[Friends Select School],a Philadelphia private school,"[Organization, School]",2020-07-14T12:10:05Z,380600,None,None
380699,None,NaN,"{'Org': {'name_nick': None, 'name': 'Living Be...",None,Living Beyond Breast Cancer,Org,[Living Beyond Breast Cancer],provides support to those impacted by breast c...,"[Organization, Other Not-for-Profit]",2020-07-14T20:21:48Z,380699,None,None
380714,None,NaN,"{'Org': {'name_nick': None, 'name': 'Juvenile ...",None,Juvenile Law Center,Org,[Juvenile Law Center],"Juvenile Law Center, founded in 1975, is the f...","[Organization, Other Not-for-Profit]",2020-07-15T01:01:25Z,380714,None,None
380828,None,NaN,"{'Org': {'name_nick': None, 'name': 'Better Co...",None,Better Cotton Initiative,Org,[Better Cotton Initiative],Global not-for-profit organisation based in Ge...,"[Organization, Other Not-for-Profit]",2020-07-15T20:41:10Z,380828,None,None

In [11]:
base_entities = pd.Series(pd.to_numeric(filtered_ents.index))
base_entities  # index values for base set of entities

0        14713
1        14730
2        14922
3        14924
4        14925
         ...
9101    380599
9102    380600
9103    380699
9104    380714
9105    380828
Length: 9106, dtype: int64

In [12]:
base_rels = rels[rels['entity1_id'].isin(base_entities) | rels['entity2_id'].isin(base_entities)]  # get relationships of base entities
base_rels.shape

(97420, 15)

base_rels contains relationships of entites that are of the following type: 

* 'Philanthropy'
* 'Other Not-for-Profit'
* 'Academic Research Institute'
* 'School'
* 'Cultural/Arts'
* 'Policy/Think Tank'

In [13]:
base_rels.loc['26197', :]  # gives us relationship with ID 26197

category_id                                                     2
description2                                                 None
id                                                          26197
description     Roel C Campos  is/was a student of  Harvard La...
entity1_id                                                  14659
is_current                                                   None
updated_at                                   2008-11-07T14:43:40Z
entity2_id                                                  14713
currency                                                     None
start_date                                                   None
amount                                                        NaN
goods                                                        None
description1                                                 None
end_date                                               1979-00-00
filings                                                       NaN
Name: 26197, dtype: object

In [14]:
ents.loc[str(base_rels.loc['26197', 'entity1_id'])]  # corresponding entity1 ID from relationship 26197

summary                                                     None
parent_id                                                    NaN
extensions     {'Person': {'name_nick': None, 'nationality': ...
website                                                     None
name                                               Roel C Campos
primary_ext                                               Person
aliases                                          [Roel C Campos]
blurb                Former SEC Commissioner under George W Bush
types                                  [Person, Business Person]
updated_at                                  2014-10-10T21:36:09Z
id                                                         14659
start_date                                                  None
end_date                                                    None
Name: 14659, dtype: object

In [15]:
ents.loc[str(base_rels.loc['26197', 'entity2_id'])]  # corresponding entity2 ID from relationship 26197

summary                                                     None
parent_id                                                  14730
extensions     {'Org': {'name_nick': None, 'name': 'Harvard L...
website                               http://www.law.harvard.edu
name                                          Harvard Law School
primary_ext                                                  Org
aliases        [Harvard Law School, Harvard University Law Sc...
blurb                                                       None
types                                     [Organization, School]
updated_at                                  2020-07-12T23:23:57Z
id                                                         14713
start_date                                                  None
end_date                                                    None
Name: 14713, dtype: object

Breakdown of base_rels by category:

In [22]:
cats = pd.Series(['Position', 'Education', 'Membership', 'Family', 'Donation', 'Transaction', 'Lobbying', 'Social', 'Professional', 'Ownership', 'Hierarchy', 'Generic'], index = range(1, 13))
pd.concat([base_rels['category_id'].value_counts(), cats], axis = 1).dropna().rename(columns = {'category_id': 'count', 0: 'category'}).sort_values(by = 'count', ascending = False)

      count     category
1   45290.0     Position
2   27124.0    Education
5   12210.0     Donation
3    5135.0   Membership
12   3492.0      Generic
11   1951.0    Hierarchy
6    1719.0  Transaction
10    477.0    Ownership
7      22.0     Lobbying

Network for base_rels:

In [23]:
G_base = nx.from_pandas_edgelist(base_rels, 'entity1_id', 'entity2_id', ['category_id', 'description', 'updated_at'])  # graph of base set of relationships

In [24]:
G_base.number_of_nodes()

65248

In [25]:
G_base.number_of_edges()

92264

Number of connections for each entity in the graph:

In [46]:
G_base.degree()[14659]  # key is an entity ID

3

Enitity with max connections:

In [52]:
g_base_degree = dict(G_base.degree())
max_base_deg_key = max(g_base_degree, key = g_base_degree.get)
print(max_base_deg_key, G_base.degree()[max_base_deg_key])

66860 1095

In [53]:
ents.loc[str(max_base_deg_key)]

summary                                                     None
parent_id                                                    NaN
extensions     {'Org': {'name_nick': None, 'name': 'Walton Fa...
website                                                     None
name                                Walton Family Foundation Inc
primary_ext                                                  Org
aliases                           [Walton Family Foundation Inc]
blurb          Philanthropic foundation affiliated with famil...
types                               [Organization, Philanthropy]
updated_at                                  2020-06-08T21:54:09Z
id                                                         66860
start_date                                                  None
end_date                                                    None
Name: 66860, dtype: object

Next part of code is for the 2nd step of BFS, and has been commented out for now as discussed

In [11]:
# nodes = pd.unique(pd.concat([base_rels['entity1_id'], base_rels['entity2_id']], ignore_index = True))  # list of unique entites from base rels
# len(nodes)

65248

In [12]:
# bfs_2step = rels[rels['entity1_id'].isin(nodes) | rels['entity2_id'].isin(nodes)]
# bfs_2step.shape

(826509, 15)

In [13]:
# bfs_2step.head()

,category_id,description2,id,description,entity1_id,is_current,updated_at,entity2_id,currency,start_date,amount,goods,description1,end_date,filings
1,1,Director,1,Allen I Questrom had a position (Director) at...,1006,False,2011-03-13T20:15:59Z,1,None,2007-00-00,NaN,None,Director,2010-06-00,NaN
2,1,Director,2,Linda S Wolf has a position (Director) at Wa...,1007,True,2008-11-05T17:05:10Z,1,None,2005-00-00,NaN,None,Director,None,NaN
3,1,Director,3,Aida M Alvarez had a position (Director) at ...,1008,False,2018-04-23T14:25:16Z,1,None,None,NaN,None,Director,2015-00-00,NaN
4,1,Chairman,4,Gregory Boyd Penner has/had a position (Vice ...,1009,None,2018-04-23T14:54:35Z,1,None,None,NaN,None,Vice Chairman,None,NaN
6,1,Director,6,Christopher J Williams had a position (Direct...,1011,False,2015-03-31T14:56:50Z,1,None,2004-00-00,NaN,None,Director,None,NaN

In [14]:
# G = nx.from_pandas_edgelist(bfs_2step, 'entity1_id', 'entity2_id', ['category_id', 'description', 'updated_at'])

In [15]:
# G[1006]

AtlasView({1: {'category_id': 1, 'description': 'Allen I Questrom  had a position (Director) at  Walmart ', 'updated_at': '2018-04-23T14:55:54Z'}, 14212: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Sedgwick William Green ', 'updated_at': '2009-10-22T10:20:12Z'}, 13575: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Chuck Schumer ', 'updated_at': '2009-10-22T10:20:18Z'}, 13443: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  John S. McCain III ', 'updated_at': '2016-11-23T14:57:14Z'}, 85951: {'category_id': 1, 'description': "Allen I Questrom  had a position (Board Member) at  Sotheby's ", 'updated_at': '2015-04-01T17:44:47Z'}, 12980: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Michele Bachmann ', 'updated_at': '2016-11-23T14:57:10Z'}, 36382: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Scott Randall Tipton ', 'updated_at': '2016-11-23T14:57:11Z'}, 13681: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  George Allen ', 'updated_at': '2013-04-15T11:38:02Z'}, 117824: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Tom Cotton ', 'updated_at': '2016-11-23T14:57:12Z'}, 13731: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Rob Portman ', 'updated_at': '2016-11-23T14:57:12Z'}, 13799: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Pat Toomey ', 'updated_at': '2016-11-23T14:57:11Z'}, 13137: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Richard Burr ', 'updated_at': '2016-11-23T14:57:11Z'}, 13385: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Mark Steven Kirk ', 'updated_at': '2016-11-23T14:57:11Z'}, 140380: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Tom Emmer ', 'updated_at': '2016-11-23T14:57:11Z'}, 118768: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Bruce Poliquin ', 'updated_at': '2016-11-23T14:57:11Z'}, 13082: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Roy Blunt ', 'updated_at': '2016-11-23T14:57:11Z'}, 143892: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Dan Sullivan ', 'updated_at': '2016-11-23T14:57:12Z'}, 91598: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Ron Johnson ', 'updated_at': '2016-11-23T14:57:13Z'}, 91555: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Kelly A Ayotte ', 'updated_at': '2016-11-23T14:57:12Z'}, 157014: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Elise Stefanik ', 'updated_at': '2016-11-23T14:57:12Z'}, 13212: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  John Cornyn ', 'updated_at': '2016-11-23T14:57:14Z'}, 96583: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Ted Cruz ', 'updated_at': '2016-11-23T14:57:14Z'}, 208734: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  French Hill ', 'updated_at': '2016-11-23T14:57:14Z'}, 21537: {'category_id': 5, 'description': 'Allen I Questrom  gave money to  Barbara Comstock ', 'updated_at': '2016-11-23T14:57:14Z'}})